<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MCUtil - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
</head>

<body onload="typeWriter()">
    <section class="home" id="top">
        <p>⠀</p>
        <div class="title">
            <h1 id="title"></h1>
            <h3><a href="#nether" class="offer">See what we offer</a></h3>
        </div>
    </section>
    <section class="products" id="nether">
        <h1>Nether Calculator</h1>
    </section>
    <hr></hr>
    <section class="products2" id="skins">
        <h1>User's Skin</h1>
    </section>
    <hr></hr>
    <section class="products3" id="names">
        <h1>User's past names</h1>
    </section>
    <script src="../public/script.js" async defer></script>
</body>

</html>